/* 
- Mobile: 375px
- Desktop: 1440px 
*/

/* Colors */

:root {
  /* Primary */
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  /* Neutral */
  --main-bg-blue: hsl(217, 54%, 11%);
  --card-bg-blue: hsl(216, 50%, 16%);
  --line-blue: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
}

/* Font Weights: 300, 400, 600 */

body {
  font-size: 18px;
  font-weight: 300;
  font-family: 'Outfit', sans-serif, monospace;
}

